@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: center;
    background-size: cover;
    background-image: url(img/background.jpg);
    padding-top: 25px;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    background: rgba(29, 33, 61, 0.5);
    box-sizing: border-box;
}

.logo {
    width: 160px;
    font-size: 30px;
    color: white;
    z-index: 3;
}

nav {
    flex: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    box-shadow: white;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 55px;
}

.user {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
}

.user img {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.sidebar {
    width: 155px;
    height: 100vh;
    background: rgba(29, 33, 61, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.search-icons {
    width: 20px;
    display: block;
    margin: 120px auto 0;
}

.social-links {
    width: 20px;
    display: block;
    margin: 220px auto 0;
    text-align: center;
}

.social-links img {
    height: 14px;
    margin-bottom: 30px;
}

.msg-container {
    width: 590px;
    height: 270px;
    position: absolute;
    left: 14%;
    top: 55%;
    transform: translateY(-50%);
    overflow: hidden;
}

#slider {
    display: inline-flex;
    transition: 0.5s;
}

.msg-col {
    width: 600px;
    height: 270px;
}

.msg-col h1 {
    color: rgb(7, 4, 4);
    font-size: 60px;
    font-weight: 100;
    margin: 10px 0;
}

.msg-col p {
    color: black;
    font-size: 17px;
    line-height: 25px;
}

.msg-col a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    background: white;
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 25px;
}

.contoller {
    width: 1px;
    display: block;
    background: #c0c0c0;
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
    height: 320px;
}

#line1,
#line2,
#line3,
#line4 {
    width: 10px;
    height: 80px;
    cursor: pointer;
    transform: translateX(-50%);
}

#active {
    width: 5px;
    height: 80px;
    border-radius: 12px;
    background: white;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}